<p>this is a test <i class='fa fa-twitter'></i></p>
{{#foreach posts}}
    <article class="post {{post_class}} col-md-8 col-md-offset-2">
        <header class="post-header">
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class='post-meta'>
                {{tags prefix=" tags: "}}
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </div>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="80"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        </section>
    </article>
{{/foreach}}

<div class='pagination'>
{{pagination}}
</div>
