{{#foreach posts}}
    <article class="{{post_class}} col-md-12 col-sm-12 col-xs-12">
        <header class='row'>
            <div class='time col-md-1 col-sm-2 col-xs-12'>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="M/D/YYYY"}}</time>
            </div>
            <div class='post-meta col-md-1 col-sm-1 hidden-xs'>
                <div class='tags hidden'>{{tags}}</div>
                <div class='timeline '></div>
                <h1 class='post-type'></h1>
            </div>
            <div class='title col-md-9 col-sm-9 col-xs-12'>
                <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            </div>
        </header>
        <section class='content col-md-10 col-md-offset-2 col-xs-12'>
            {{#has tag="insta, tweet"}}
                {{content}}
            {{/has}}
        </section>
    </article>
{{/foreach}}

<div class='pagination'>
{{pagination}}
</div>
