{{#foreach posts}}
    <article class="post {{post_class}} col-md-8 col-md-offset-2">
        <div class='color-block'>&nbsp;</div>
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            {{tags prefix=" tags: "}}
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </footer>
    </article>
{{/foreach}}

<div class='pagination'>
{{pagination}}
</div>
