
<!DOCTYPE html>
<html lang="en">
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/theme.min.css"}}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">

    {{ghost_head}}
  </head>

  <body class='{{body_class}}'>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class='brand' href='/'>
            <div class='pull-left'>
              <img class='avatar' src="http://www.gravatar.com/avatar/eb9f58086e20c6a51c78b43e1f683e6e?s=70" />
            </div>
            <div class='pull-left'>
              <h4>jakelog</h4>
            </div>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="{{@blog.url}}/rss/"><i class='fa fa-rss'></i> Subscribe</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{{body}}}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset "js/theme.min.js"}}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11907887-15', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
